[Unit]
Description=config init service
After=tmp.mount
Before=wpa_supplicant@wlan0.service systemd-networkd.service

[Service]
Type=oneshot
ExecStart=@BINDIR@/config-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target